.header-summary-box {
    background-color: #F3F3F3 !important;
    color: #006233 !important;
    font-weight: bold !important;
    padding: 12px !important;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    font-size: 0.85rem;
}

.summary-item strong { 
    color: #006233; 
    margin-left: 5px; 
}

.main-title { 
    color: #006233; 
    font-size: 1.4rem; 
    font-weight: 700; 
}

.white-box { 
    background: #FFFFFF; 
    border: 1px solid #EAEAEA; 
    border-radius: 4px; 
}

.form-container { 
    border: 1px solid #006233; 
    border-top: 4px solid #006233; 
    background: #FFFFFF; 
}

.section-header { 
    background-color: #F3F3F3 !important; 
    color: #006233 !important; 
    font-weight: bold !important; 
    padding: 8px 12px !important; 
    border-radius: 4px; 
    display: block; 
    width: 100%; 
}

.info-group-title {
    font-weight: bold;
    font-size: 0.9rem;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 12px;
}

.empty-text {
    color: #706e6b;
    font-size: 0.85rem;
    font-style: italic;
    margin-left: 12px;
}

.info-block { 
    margin-bottom: 8px; 
    font-size: 0.85rem; 
}

.info-label { 
    color: #706e6b; 
    font-weight: bold; 
    display: inline-block; 
    width: 180px; 
}

.info-value { 
    color: #000000; 
    font-weight: 500;
    display: inline-block; 
}

.btn-outline { 
    background: white; 
    color: #006233; 
    border: 2px solid #006233; 
    padding: 6px 18px; 
    border-radius: 4px; 
    font-weight: bold; 
    cursor: pointer; 
    transition: 0.3s; 
}

.btn-outline:hover { 
    background: #006233; 
    color: white; 
}

.btn-primary { 
    background-color: #006233; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 4px; 
    font-weight: bold; 
    cursor: pointer; 
}

.btn-secondary { 
    background-color: transparent; 
    color: #006233; 
    border: 1px solid #006233; 
    padding: 10px 20px; 
    border-radius: 4px; 
    font-weight: bold; 
    cursor: pointer; 
}