:host {
    --link-green: #006233;
    --link-green-dark: #004824;
}

/* LIENS */
.cell-link,
.cell-link:visited {
    color: var(--link-green) !important;
    text-decoration: none !important;
    font-weight: 700 !important;
    cursor: pointer;
}

.cell-link:hover,
.cell-link:focus,
.cell-link:active {
    color: var(--link-green-dark) !important;
    text-decoration: underline !important;
}

/* Fallback global */
a,
a:visited {
    color: var(--link-green) !important;
}

a:hover {
    color: var(--link-green-dark) !important;
}

/* BOOLEAN */
.boolean-container {
    display: flex;
    justify-content: center;
}

.boolean-true {
    background-color: rgba(4, 132, 75, 0.1);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #04844b;
}

.boolean-false {
    background-color: rgba(194, 57, 52, 0.1);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #c23934;
}

/* CURRENCY */
.currency-container {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

/* NUMBER */
.number-container {
    text-align: right;
}

/* HTML FORMULA */
.html-formula-container {
    display: flex;
    align-items: center;
}

/* TEXT FORMULA */
.text-formula-container {
    font-size: 0.8125rem;
    color: #3e3e3c;
}